<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Ecomwise_B2BCheckout>
			<version>1.2.1</version>
		</Ecomwise_B2BCheckout>
	</modules>	
	<global>
		<blocks>
			<ecomwiseskipsm>
				<class>Ecomwise_B2BCheckout_Block</class>
			</ecomwiseskipsm>			      	 	   	 	
     	 	<checkout>
		        <rewrite>		                                                    
		        	<onepage>Ecomwise_B2BCheckout_Block_Checkout_Onepage</onepage>
		        	<onepage_shipping_method>Ecomwise_B2BCheckout_Block_Checkout_Onepage_Shipping_Method</onepage_shipping_method>
		        	<onepage_payment>Ecomwise_B2BCheckout_Block_Checkout_Onepage_Payment</onepage_payment>	
		        	<cart_shipping>Ecomwise_B2BCheckout_Block_Checkout_Cart_Shipping</cart_shipping>	
		        </rewrite>
     	 	</checkout>	      	 	     	 		    	 								
		</blocks>
		<helpers>
			<ecomwiseskipsm>
				<class>Ecomwise_B2BCheckout_Helper</class>				
			</ecomwiseskipsm>
		</helpers>
		<models>
			<ecomwiseskipsm>
				<class>Ecomwise_B2BCheckout_Model</class>
			</ecomwiseskipsm>							
			<checkout>
		        <rewrite>		                                                              
		           <type_onepage>Ecomwise_B2BCheckout_Model_Checkout_Type_Onepage</type_onepage>       	
		        </rewrite>
     	 	</checkout>	    	 					
		</models>			
	</global>
	<frontend>	
		<layout>
			<updates>
				<ecomwiseskipsm>
					<file>b2bcheckout.xml</file>
				</ecomwiseskipsm>
			</updates>
		</layout>			
		<routers>        	  	
        	<checkout>				
				<args>
					<modules>
						<Ecomwise_B2BCheckout before="Mage_Checkout">Ecomwise_B2BCheckout_Checkout</Ecomwise_B2BCheckout> 
					</modules>
				</args>			
			</checkout>	        	
        </routers>      
    </frontend>	
    <adminhtml>	
    	<acl>
	        <resources>
	        	<all>
					<title>Allow Everything</title>
				</all>
	            <admin>
	                <children>
	                    <system>
	                        <children>
	                            <config>
	                                <children>
	                                    <b2bcheckout translate="title" module="ecomwiseskipsm">
	                                        <title>B2BCheckout</title>
	                                    </b2bcheckout>
	                                </children>
	                            </config>
	                        </children>
	                    </system>
	               </children>
	           </admin>
	       </resources>
	    </acl>
    </adminhtml>   
    <default>
		<b2bcheckout>
			<parameters>
				<enabled>0</enabled>
				<skip_payment>1</skip_payment>
				<skip_shipping>1</skip_shipping>					
      		</parameters>
    	</b2bcheckout>
  	</default>	
</config>