<?xml version="1.0"?>
<config>
    <modules>
        <Monext_Payline>
            <version>1.8.3.1</version>
        </Monext_Payline>
    </modules>
    <global>
        <blocks>
            <payline>
                <class>Monext_Payline_Block</class>
            </payline>
            <adminhtml>
                <!-- Needed for Magento Enterprise 1.9 -->
                <rewrite>
                    <sales_order_creditmemo_create_items>Monext_Payline_Block_Adminhtml_Sales_Order_Creditmemo_Create_Items</sales_order_creditmemo_create_items>
                    <customer_grid>Monext_Payline_Block_Adminhtml_Customer_Grid</customer_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        <models>
            <payline>
                <class>Monext_Payline_Model</class>
                <resourceModel>payline_mysql4</resourceModel>
            </payline>
            <payline_mysql4>
                <class>Monext_Payline_Model_Mysql4</class>
                <entities>
                    <contract>
                        <table>payline_contract</table>
                    </contract>
                    <contract_status>
                        <table>payline_contract_status</table>
                    </contract_status>
                    <fees>
                        <table>payline_nx_fees</table>
                    </fees>
                    <productcategories>
                        <table>payline_product_categories</table>
                    </productcategories>
                    <token>
                        <table>payline_token</table>
                    </token>
                </entities>
            </payline_mysql4>
            <sales>
                <rewrite>
                    <order_invoice>Monext_Payline_Model_Order_Invoice</order_invoice>
                    <order_payment>Monext_Payline_Model_Order_Payment</order_payment>
                </rewrite>
            </sales>
        </models>
        <helpers>
            <payline>
                <class>Monext_Payline_Helper</class>
            </payline>
        </helpers>
        <resources>
            <payline_setup>
                <setup>
                    <module>Monext_Payline</module>
                    <class>Monext_Payline_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </payline_setup>
            <payline_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </payline_write>
            <payline_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </payline_read>
        </resources>
        <events>
            <sales_order_save_after>
                <observers>
                    <payline>
                        <class>payline/observer</class>
                        <method>createInvoiceWhenStatusChange</method>
                    </payline>
                    <payline_fees>
                        <class>payline/observer</class>
                        <method>saveOrderNxFees</method>
                    </payline_fees>
                </observers>
            </sales_order_save_after>
            <sales_quote_collect_totals_before>
                <observers>
                    <payline>
                        <class>payline/observer</class>
                        <method>saveQuoteNxFees</method>
                    </payline>
                </observers>
            </sales_quote_collect_totals_before>
            <sales_order_invoice_save_after>
                <observers>
                    <payline>
                        <class>payline/observer</class>
                        <method>saveInvoiceNxFees</method>
                    </payline>
                </observers>
            </sales_order_invoice_save_after>
            <controller_action_postdispatch_checkout_onepage_saveShippingMethod>
                <observers>
                    <payline>
                        <class>payline/observer</class>
                        <method>afterSaveShippingAction</method>
                    </payline>
                </observers>
            </controller_action_postdispatch_checkout_onepage_saveShippingMethod>
            <customer_logout>
                <observers>
                    <clean_payline>
                        <class>payline/observer</class>
                        <method>cleanPayline</method>
                    </clean_payline>
                </observers>
            </customer_logout>
        </events>
        <sales>
            <quote>
                <totals>
                    <payline_nx>
                        <class>payline/total_nx_quote</class>
                        <after>subtotal</after>
                        <before>grand_total,tax</before>
                        <renderer>payline/checkout_total</renderer>
                    </payline_nx>
                </totals>
            </quote>
            <order_invoice>
                <totals>
                    <payline_nx>
                        <class>payline/total_nx_invoice</class>
                        <after>subtotal</after>
                        <before>grand_total,tax</before>
                    </payline_nx>
                </totals>
            </order_invoice>
        </sales>
    </global>
    <frontend>
        <secure_url>
            <monext_payline>/payline/</monext_payline>
        </secure_url>
        <routers>
            <payline>
                <use>standard</use>
                <args>
                    <module>Monext_Payline</module>
                    <frontName>payline</frontName>
                </args>
            </payline>
        </routers>
        <translate>
            <modules>
                <Monext_Payline>
                    <files>
                        <default>Monext_Payline.csv</default>
                    </files>
                </Monext_Payline>
            </modules>
        </translate>
        <layout>
            <updates>
                <payline module="Monext_Payline">
                    <file>payline.xml</file>
                </payline>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <monext_payline after="Mage_Adminhtml">Monext_Payline_Adminhtml</monext_payline>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Monext_Payline>
                    <files>
                        <default>Monext_Payline.csv</default>
                    </files>
                </Monext_Payline>
            </modules>
        </translate>
        <layout>
            <updates>
                <payline module="Monext_Payline">
                    <file>payline.xml</file>
                </payline>
            </updates>
        </layout>
        <menu>
            <system>
                <children>
                    <payline translate="title" module="payline">
                        <title>Manage Payline Contracts</title>
                        <sort_order>10</sort_order>
                        <action>adminhtml/payline_managecontracts/index</action>
                    </payline>
                </children>
            </system>
            <catalog>
            	<children>
                    <payline translate="title" module="payline">
                        <title>Manage Payline Product Categories</title>
                        <sort_order>10</sort_order>
                        <action>adminhtml/payline_manageproductcategories/index</action>
                    </payline>
            	</children>
            </catalog>
        </menu>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <payline>
                                    <title>Manage Payline Contracts</title>
                                    <sort_order>10</sort_order>
                                </payline>
                            </children>
                        </system>
                        <catalog>
                        	<children>
                        		<payline>
                                    <title>Manage Payline Product Categories</title>
                                    <sort_order>10</sort_order>
                                </payline>
                            </children>
                        </catalog>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <payment>
            <payline_common>
                <title>Common settings</title>
                <failed_order_status>holded</failed_order_status>
                <canceled_order_status>canceled</canceled_order_status>
                <new_order_status>processing</new_order_status>
                <init_order_status>pending</init_order_status>
                <fraud_order_status>pending</fraud_order_status>
                <automate_wallet_subscription>1</automate_wallet_subscription>
            </payline_common>
            <PaylineCPT>
                <model>payline/cpt</model>
                <!-- Auth+Capture, 100 is capture only -->
                <payline_payment_action>101</payline_payment_action>
                <send_wallet_id>1</send_wallet_id>
            </PaylineCPT>
            <PaylineNX>
                <model>payline/nx</model>
                <send_wallet_id>1</send_wallet_id>
            </PaylineNX>
            <PaylineDIRECT>
                <model>payline/direct</model>
                <!-- Auth+Capture, 100 is capture only -->
                <payline_payment_action>101</payline_payment_action>
                <send_wallet_id>1</send_wallet_id>
                <payment_action>order</payment_action>
            </PaylineDIRECT>
            <PaylineWALLET>
                <model>payline/wallet</model>
                <payline_register-oneclick_customeraccount>payline_register-oneclick_customeraccount</payline_register-oneclick_customeraccount>
                <payline_register-oneclick_catalog>payline_register-oneclick_catalog</payline_register-oneclick_catalog>
                <update_payment_details>1</update_payment_details>
                <update_personal_details>0</update_personal_details>
                <one_clic_block_title>One Click Checkout</one_clic_block_title>
                <!-- Auth+Capture, 100 is capture only -->
                <payline_payment_action>101</payline_payment_action>
            </PaylineWALLET>
        </payment>
    </default>
</config>
