<?xml version="1.0"?>
<config>
    <modules>
        <Marcel_Selector>
            <version>1.0.0</version>
        </Marcel_Selector>
    </modules>
    <global>
        <blocks>
            <marcel_selector>
                <class>Marcel_Selector_Block</class>
            </marcel_selector>
            <marcel_selector_adminhtml>
                <class>Marcel_Selector_Block_Adminhtml</class>
            </marcel_selector_adminhtml>
        </blocks>
        <models>
            <marcel_selector>
                <class>Marcel_Selector_Model</class>
            </marcel_selector>
        </models>
        <helpers>
            <marcel_selector>
                <class>Marcel_Selector_Helper</class>
            </marcel_selector>
        </helpers>
        <!--
        <resources>
            <marcel_selector_setup>
                <setup>
                    <module>Marcel_Selector</module>
                </setup>
            </marcel_selector_setup>
        </resources>
        -->
        <!--
        <events>
            <catalog_product_load_after>
                <observers>
                    <marcel_selector>
                        <class>marcel_selector/observer</class>
                        <method>catalogProductLoadAfter</method>
                    </marcel_selector>
                </observers>
            </catalog_product_load_after>
        </events>
        -->
    </global>
    <frontend>
        <!--
        <routers>
           <marcel_selector>
               <use>standard</use>
               <args>
                   <module>Marcel_Selector</module>
                   <frontName>mgt</frontName>
               </args>
           </marcel_selector>
        </routers>
        -->
        <layout>
            <updates>
                <marcel_selector>
                    <file>marcel_selector.xml</file>
                </marcel_selector>
            </updates>
        </layout>
    </frontend>
    <!--
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Marcel_Selector before="Mage_Adminhtml">Marcel_Selector_Adminhtml</Marcel_Selector>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    -->
    <!--
    <crontab>
        <jobs>
            <marcel_selector_cron>
                <schedule>
                    <cron_expr>0,45 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>marcel_selector/observer::methodName</model>
                </run>
            </marcel_selector_cron>
        </jobs> 
    </crontab>
    -->
</config>
